    header {
        position: fixed;
        top: 7px;
        left: 200px;
        width: 50%;
        padding: 20px 10%;
        background-color: black;
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    nav a {
        display: inline-block;
        background-color: transparent;
        object-fit: cover;
        font-size: 20px;
        color: #aaa;
        text-decoration: none;
        letter-spacing: .02em;
        font-weight: 500;
        margin-left: 90px;
    }

    nav a :hover {
        color: aliceblue;
        box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white, 0 0 200px white;
    }

    .high {
        background: url("pic.jpg") -20px -20px no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        display: block;
        font-size: 200px;
        font-family: arial;
        text-align: center;
        margin-top: 60px;
        font-weight: bold;
        letter-spacing: -18px;
        background-size: cover;
        margin-bottom: 50px;
    }

    .box {
        font-size: 25px;
        height: 250px;
        width: 80%;
        margin: 100px;
        border: 5px solid;
        border-radius: 30px;
        padding: 30px;
        background-color: black;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    }

    #g {
        color: white;
        font-family: 'Satisfy', cursive;
        text-align: center;
    }

    .hi {
        height: 140px;
        width: 140px;
        margin-left: 40px;
        margin-top: -100px;
        margin-bottom: 0;
        border-radius: 50%;
        object-fit: cover;
    }

    button {
        margin-top: 20px;
        margin-left: 85%;
        text-align: center;
        background-color: cyan;
        border: 0;
        height: 40px;
        border-radius: 10px;
        box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    }

    button:hover {
        box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    }

    .box2 {
        font-size: 25px;
        height: 200px;
        width: 30%;
        margin: 100px;
        margin-top: 70px;
        border: 5px solid;
        border-radius: 30px;
        padding: 30px;
        background-color: black;
        display: inline-block;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    }

    #f {
        margin-top: 30px;
        color: white;
        font-family: 'Satisfy', cursive;
        text-align: center;
        margin-bottom: 50px;
    }

    .hi2 {
        height: 90px;
        width: 150px;
        margin-left: 130px;
        margin-top: 10px;
        margin-bottom: 0;
        color: white;
    }

    #button1 {
        margin-top: -2000px;
        margin-left: 35%;
        text-align: center;
        background-color: cyan;
        border: 0;
        height: 40px;
        width: 30%;
        border-radius: 10px;
        box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    }

    #button1:hover {
        box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    }

    #foot {
        left: 200px;
        width: 100%;
       
        background-color: black;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    #word{
        font-family: 'Satisfy', cursive;
        font-family: 'Sedgwick Ave Display', cursive;
        font-size:2.5em;
        margin: 10px;
        color:black;
        margin-left:100px;
        margin-bottom: 10px;
    }
    .inst{
        height:130px;
        margin-top:40px;
        display: inline;
        margin-left:50px;
        position: relative;
        
    }
    .box #p{
        margin-top: 3px;
        color:white;
        font-family: 'Homemade Apple', cursive;
        font-family: 'Indie Flower', cursive;
        font-family: 'Satisfy', cursive;
        font-family: 'Sedgwick Ave Display', cursive;

    }
    #h{
        color:white;
        display:inline;
        font-family: 'Satisfy', cursive;
       margin-left: 80px;
       margin-top: 40px;
       position:absolute;
       height:40px;
       width: 600px;
        
    }
    #foot p{
        margin-left:30px;
        color:white;
    }
